# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

/backend/venv
/venv

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependências do Node (React)
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js

# Variáveis de ambiente e logs
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Banco de dados e caches do Python/Django do seu Backend
backend/db.sqlite3
**/__pycache__/
*.pyc
